<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header" data-background-color="primary">
                    <h4 class="title">Rotas</h4>
                    <p class="category">Selecione uma rota para maiores informações</p>
                </div>
                <div class="card-content table-responsive">
                    <table class="table table-hover">
                        <thead class="text-primary">
                            <tr>
                                <th>Data</th>
                                <th>Descrição</th>
                                <th>Operador</th>
                                <th>Emissor</th>
                                <th>Estatus</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>19/04/2017</td>
                                <td>Pepsico 3047</td>
                                <td>Marlon</td>
                                <td>Rafael</td>
                                <td>Done</td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="Trocar Operador" class="btn btn-primary btn-simple btn-xs">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    <button type="button" rel="tooltip" title="Excluir" class="btn btn-danger btn-simple btn-xs">
                                            <i class="material-icons">close</i>
                                        </button>
                                </td>
                            </tr>
                            <tr>
                                <td>19/04/2017</td>
                                <td>Pepsico 3047</td>
                                <td>Marlon</td>
                                <td>Rafael</td>
                                <td>Done</td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="Trocar Operador" class="btn btn-primary btn-simple btn-xs">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    <button type="button" rel="tooltip" title="Excluir" class="btn btn-danger btn-simple btn-xs">
                                            <i class="material-icons">close</i>
                                        </button>
                                </td>
                            </tr>
                            <tr>
                                <td>19/04/2017</td>
                                <td>Pepsico 3047</td>
                                <td>Marlon</td>
                                <td>Rafael</td>
                                <td>Done</td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="Trocar Operador" class="btn btn-primary btn-simple btn-xs">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    <button type="button" rel="tooltip" title="Excluir" class="btn btn-danger btn-simple btn-xs">
                                            <i class="material-icons">close</i>
                                        </button>
                                </td>
                            </tr>

                        </tbody>

                    </table>


                </div>
            </div>

            <div class="card">
                <div class="card-header" data-background-color="primary">
                    <h4 class="title">Entregas</h4>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <table class="table table-hover">
                            <thead class="text-primary">
                                <tr>
                                    <th>#</th>
                                    <th>Data</th>
                                    <th>Destinatario</th>
                                    <th>Estatus</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="#profile">
                                            <div style="content:url('http://maps.google.com/mapfiles/kml/paddle/A.png');width: 35px;"> </div>
                                        </a>
                                    </td>
                                    <td>19/04/2017</td>
                                    <td>ATACADÃO DISTR COM E IND LTDA</td>
                                    <td>Done</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#profile">
                                            <div style="content:url('http://maps.google.com/mapfiles/kml/paddle/B.png');width: 35px;"> </div>
                                        </a>
                                    </td>
                                    <td>19/04/2017</td>
                                    <td>ATACADÃO DISTR COM E IND LTDA</td>
                                    <td>Done</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#profile">
                                            <div style="content:url('http://maps.google.com/mapfiles/kml/paddle/C.png');width: 35px;"> </div>
                                        </a>
                                    </td>
                                    <td>19/04/2017</td>
                                    <td>ATACADÃO DISTR COM E IND LTDA</td>
                                    <td>Done</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-8">
                        <div id="rotasMap" class="card" style="min-height:600px;"></div>
                    </div>

                </div>

            </div>
        </div>

    </div>
