<div class="container" style="position: absolute; top: 50%; transform: translateY(-50%);width:100%">
  <div class="row">
    <!--<div class="col" style="display: inline-block">
      <img src="../assets/img/std.gif" style="height:405px" />
    </div>-->
    <!--<div id="root" class="col" style="
    box-shadow: 10px 10px 5px #888888;
    border-width: 1px;
    box-sizing: border-box;
    width: 302px;
    height: 405px;
    display: inline-block;
    float:right;
    margin-right: 20px;
    border-color:lightgray;
    border-style: solid;">
    </div>-->
  </div>
</div>
