<!--<div style="position: absolute; top: 50%; transform: translateY(-50%);">
  <div style="display: inline-block">

  </div>
  <div style="display: inline-block">
    <div id="root" class="col col-lg-2" style="width: 320px; height:405px; margin: 40px auto; padding: 10px; border-style: dashed; border-width: 1px; box-sizing: border-box;">
      embedded area
    </div>
  </div>
</div>-->
<div class="container" style="position: absolute; top: 50%; transform: translateY(-50%);">
  <div class="row">
    <div class="col col-lg-10">
      <img src="../assets/img/std.gif" style="height:300px" />
      <!--<h1 style="text-align: center">Smart Tracking & Delivery</h1>-->
    </div>
    <div id="root" class="col col-lg-2">
      embedded area
    </div>
  </div>
</div>
