<div class="card-deck-wrapper">
  <div class="card-deck" style="margin-top: 20px;">
    <div class="card card-inverse card-primary text-xs-center " style="width: 98%; margin: 2px;">
      <!--http://rosskevin.github.io/bootstrap-material-design/components/card/-->
      <div class="card-header" data-background-color="primary" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
        {{model.name | uppercase}}
      </div>
      <div class="card-block" style="padding-left:5px">
        <h6 class="card-title">Endereço</h6>
        <p class="card-text">{{model.endereco}}</p>
      </div>
      <div class="card-block" style="padding-left:5px">
        <h6 class="card-title">Notas Ficais</h6>
        <swiper [config]="this.swiperConfig" style="width:100px">
          <div *ngFor="let st of model.statusBar" class="swiper-slide" fxLayout="column" fxLayoutAlign="center center">
            <i class="material-icons">{{st.iconName}}</i> - {{st.description}}
          </div>
        </swiper>
      </div>
      <div class="card-footer" style="padding-bottom: 25px; padding-top: 8px;">
        <div class="stats pull-right">
          <i class="material-icons">update</i> {{model.lastUpdated | amTimeAgo}}
        </div>
      </div>
    </div>
  </div>
</div>
