<div class="logo" style="height:90px;text-align:center;background-color:#e8eaf6">
    <div class="headerIcon">
        <img style="height:inherit;" src="/assets/img/iconfinder-65-512.png" />
    </div>
    <div class="simple-text headerText">
        <div>ST&amp;D</div>
        <div style="font-size: 65%;">Smart Tracking &amp; Delivery</div>
    </div>
</div>
<div class="sidebar-wrapper ">
    <div class="nav-container ">
        <ul class="nav ">
            <li *ngFor="let menuItem of menuItems " routerLinkActive="active " class="{{menuItem.class}} ">
                <a [routerLink]="[menuItem.path] ">
                    <i class="material-icons ">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>
