$material-design-icons-font-path: "~material-design-icons-iconfont/dist/fonts/";
@import "~material-design-icons-iconfont/dist/material-design-icons";
.headerIcon {
  float: left;
  height: 55px;
}

.headerText {
  float: left;
  text-align: center !important;
}
