<div class="menu pmd-floating-action" role="navigation">
    <a href="javascript:void(0);" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" rel="tooltip" data-trigger="hover" data-placement="left" title="Novo emissor">
        <span class="pmd-floating-hidden">Novo emissor</span>
        <i class="material-icons pm-20">person_add</i>
    </a>
    <a href="javascript:void(0);" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" rel="tooltip" data-trigger="hover" data-placement="left" title="Novo destino">
        <span class="pmd-floating-hidden">Novo destino</span>
        <i class="material-icons pm-20">add_location</i>
    </a>
    <a href="javascript:void(0);" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" rel="tooltip" data-trigger="hover" data-placement="left" title="Nova Nota Fiscal">
        <span class="pmd-floating-hidden">Nova Nota Fiscal</span>
        <i class="material-icons pmd-20">receipt</i>
    </a>
    <a href="javascript:void(0);" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" rel="tooltip" data-trigger="hover" data-placement="left" title="Excluir">
        <span class="pmd-floating-hidden">Nova Rota</span>
        <i class="material-icons pmd-20">map</i>
    </a>

    <a class="pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary">
        <span class="pmd-floating-hidden">Primary</span>
        <i class="material-icons pmd-md">add</i>
    </a>



    <!--

    <a id="bt" class="fabButton pmd-floating-action-btn pmd-ripple-effect " (click)="onClick($event)">
        <div class=" fabGrid "></div>
    </a>
-->



</div>
