<div class="menu pmd-floating-action" role="navigation">
    <a href="javascript:void(0);" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" data-title="Novo usuário">
        <span class="pmd-floating-hidden">Novo usuário</span>
        <i class="material-icons pmd-sm">person_add</i>
    </a>
    <a href="javascript:void(0);" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" data-title="Novo destinatário">
        <span class="pmd-floating-hidden">Novo destinatário</span>
        <i class="material-icons pmd-sm">add_location</i>
    </a>
    <a href="javascript:void(0);" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" data-title="Nova Nota">
        <span class="pmd-floating-hidden">Nova Nota</span>
        <i class="material-icons pmd-sm">receipt</i>
    </a>
    <a href="javascript:void(0);" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" data-title="Nova Rota">
        <span class="pmd-floating-hidden">Nova Rota</span>
        <i class="material-icons pmd-sm">map</i>
    </a>
    <a class="pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary" href="javascript:void(0);">
        <span class="pmd-floating-hidden">Primary</span>
        <i class="material-icons pmd-md">add</i>
    </a>
</div>
