<div class="main-content" style="max-height:100px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Edit Profile</h4>
            <p class="category">Complete your profile</p>
          </div>

          <div class="card-content">
            <form>
              <div class="row">
                <md-card class="app-input-section">
                  <md-input-container>
                    <input mdInput placeholder="Favorite food" value="Sushi">
                  </md-input-container>

                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Username</label>
                    <input type="text" class="form-control">
                  </div>
                </md-card>
              </div>
              <button type="submit" class="btn btn-danger pull-right">Update Profile</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
