<div class="main-content">

  <div class="container-fluid">
    <div class="row">
      <div class="card">
        <div class="card-header" data-background-color="primary">
          <h4 class="title">Distribuidora</h4>

        </div>

        <div class="card-content">
          <form>
            <md-dialog-content>
              <md-input-container>
                <input mdInput placeholder="Nome">
              </md-input-container>
              <md-input-container>
                <input mdInput placeholder="Contato">
              </md-input-container>
            </md-dialog-content>
            <md-dialog-actions>
              <button md-button md-dialog-close>Cancelar</button>
              <button md-button type="submit" class="btn primary pull-right">Salvar</button>
            </md-dialog-actions>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
