@import "md/variables";
@import '../css/typography.css';
@import '../css/google-icons.css';
@import '../css/button.css';
@import '../css/floating-action-button.css';
$color: $brand-primary;
$base: 10px;
$space: 2.5px;
$transition: .5s;
.fabButton {
    padding: $base*2;
    cursor: pointer;
    transition: $transition;
}

.fabButton:active {
    transform: scale(.9);
    transition: 0;
    opacity: .8;
}

.fabGrid {
    width: $base;
    height: $base;
    background: $color;
    color: $color;
    box-shadow: -($base+$space) 0, -($base+$space) ($base+$space), $base+$space 0, ($base+$space) (-($base+$space)), 0 0 -($base+$space), -($base+$space) 0 -($base+$space), 0 ($base+$space), ($base+$space) ($base+$space);
    transform: none;
    transition: $transition;
    border-radius: $space/2;
}

.fabX {
    box-shadow: -$base 0, 0 0 transparent, $base 0, 0 0 transparent, 0 0 -$base, 0 0 transparent, 0 $base, 0 0 transparent;
    border-radius: 0;
    transform: rotate(45deg);
}

.btn-primary,
.dropdown-toggle.btn-primary {
    background-color: $brand-primary;
}

.btn-primary:hover,
.dropdown-toggle.btn-primary:hover {
    background-color: $brand-primary-major;
}

.btn-primary:active,
.dropdown-toggle.btn-primary:active,
.btn-primary.active,
.dropdown-toggle.btn-primary.active {
    background-color: $brand-primary-major;
}

.btn-primary:focus,
.dropdown-toggle.btn-primary:focus {
    background-color: $brand-primary-major;
}

.btn-primary:disabled,
.dropdown-toggle.btn-primary:disabled,
.btn-primary.disabled,
.dropdown-toggle.btn-primary.disabled,
.btn-primary[disabled],
.dropdown-toggle.btn-primary[disabled] {
    background-color: #b3b3b3;
}

.btn-primary .ink,
.dropdown-toggle.btn-primary .ink {
    background-color: $brand-primary;
}


/* -- Buttons primary flat --*/

.pmd-btn-flat.btn-primary {
    color: $brand-primary-minor;
    background-color: transparent;
}

.pmd-btn-flat.btn-primary:hover {
    color: $brand-primary;
    background-color: #e5e5e5;
}

.pmd-btn-flat.btn-primary:active,
.pmd-btn-flat.btn-primary.active {
    color: $brand-primary;
    background-color: #cccccc;
}

.pmd-btn-flat.btn-primary:focus {
    color: $brand-primary-major;
    background-color: #cccccc;
}

.pmd-btn-flat.btn-primary .ink {
    background-color: #808080;
}


/* -- Buttons primary outline --*/

.pmd-btn-outline.btn-primary {
    border: solid 1px $brand-primary-minor;
    background-color: transparent;
    color: $brand-primary;
}

.pmd-btn-outline.btn-primary:hover,
.pmd-btn-outline.btn-primary:focus {
    border: solid 1px $brand-primary;
    background-color: $brand-primary;
    color: #fff;
}
