$material-design-icons-font-path: "~material-design-icons-iconfont/dist/fonts/";
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();
$anms-light-primary: mat-palette($mat-grey, 200, 500, 300);
$anms-light-accent: mat-palette($mat-brown, 200);
$anms-light-warn: mat-palette($mat-deep-orange, 200);
$anms-light-theme: mat-light-theme( $anms-light-primary, $anms-light-accent, $anms-light-warn);
@include angular-material-theme($anms-light-theme);
@import "~material-design-icons-iconfont/dist/material-design-icons";
.headerIcon {
  float: left;
  height: 55px;
}

.headerText {
  float: left;
  text-align: center !important;
}
